
*.vsidx
*.lock
*.cache
Final-Project/.vs/Final-Project/v17/.suo
Final-Project/.vs/Final-Project/v17/.suo
Lab11/Lab11/bin/Debug/Lab11.exe
Lab11/Lab11/bin/Debug/Lab11.pdb
Lab11/Lab11/obj/Debug/_IsIncrementalBuild
Lab11/Lab11/obj/Debug/Lab11.exe
Lab11/Lab11/obj/Debug/Lab11.pdb
